<section class="navbar-wrapper">
  <nav class="navbar">

    <a class="logo"
       routerLink="home">
      <img class="logo__image"
           src="../../assets/images/logo.png"
           alt="CoSourcery Logo">
      <h1 class="logo__text">CoSourcery</h1>
    </a>

    <ul class="menu">
      <li class="menu__item">
        <form class="search-bar">
          <input #searchInput
                 class="search-bar__input"
                 type="text"
                 placeholder="Search Articles"
                 (keyup.enter)="onSearch(searchInput)">
          <button class="mat-icon-btn"
                  (click)="onSearch(searchInput)">
            <mat-icon>search</mat-icon>
            <span class="mat-icon-btn__tooltip mat-icon-btn__tooltip_below">Search</span>
          </button>
        </form>
      </li>
      <li *ngIf="authInfo.uid !== null"
          class="menu__item">
        <button class="mat-icon-btn"
                routerLink="createarticle">
          <mat-icon>edit</mat-icon>
          <span class="mat-icon-btn__tooltip mat-icon-btn__tooltip_below">Post</span>
        </button>
      </li>
      <li *ngIf="authInfo.uid === null"
          class="menu__item">
        <button class="cos-btn"
                routerLink="login">
          Login
        </button>
      </li>
      <li *ngIf="authInfo.uid !== null"
          class="menu__item">
        <button class="cos-btn"
                (click)="onLogOut()">
          Logout
        </button>
      </li>
      <li *ngIf="authInfo.uid === null"
          class="menu__item">
        <button class="cos-btn cos-btn_color_primary"
                routerLink="register">
          Register
        </button>
      </li>
    </ul>

  </nav>
</section>
