<div class="navbar-spacer"></div>
<nav id="navbar" class="flex-center-align">

  <a id="logo" class="flex-center-align" routerLink="home">
    <img src="../../assets/images/logo.png" alt="CoSourcery Logo">
    <h1>CoSourcery</h1>
  </a>

  <div id="user-info">
    {{displayName}}
  </div>

  <!-- Menu Buttons & Control Groups -->
  <div id="menu-controls" class="flex-center-align">

    <div id="search" class="flex-center-align">
      <input #searchInput type="text" placeholder="Search Articles" (keyup.enter)="onSearch(searchInput)">
      <button mat-icon-button title="Search" (click)="onSearch(searchInput)">
        <mat-icon>search</mat-icon>
      </button>
    </div>

    <button mat-icon-button title="Post" (click)="onCreatePost()">
      <mat-icon>edit</mat-icon>
    </button>

  </div>

</nav>
