<div class="navbar-spacer"></div>
<nav id="navbar" class="flex-align-center">

  <a id="logo" class="flex-align-center" routerLink="home">
    <img src="../../assets/images/applogo.png" alt="CoSourcery Logo">
    <h1>CoSourcery</h1>
  </a>

  <div id="user-info">
    {{displayName}}
  </div>

  <!-- Menu Buttons & Control Groups -->
  <div id="menu-controls" class="flex-align-center">

    <div id="search" class="flex-align-center">
      <button mat-icon-button title="Search" (click)="searchBarFocus(searchInput)">
        <mat-icon>search</mat-icon>
      </button>
      <form>
        <input #searchInput type="text" placeholder="Search Articles" (keyup.enter)="search(searchInput)">
      </form>
    </div>

    <button mat-icon-button title="Post" (click)="create()">
      <mat-icon>edit</mat-icon>
    </button>

  </div>

</nav>
