<section class="banner">
  <div class="text center">
    <h2 class="banner__title">Empowering Makers &amp; Hackers of the World</h2>
    <p class="text italic">network, collaborate, and share knowledge with the community you love</p>
  </div>
</section>

<!-- ARTICLE FILTERS -->
<cos-filter-menu [tabList]="filterTabs">

</cos-filter-menu>
<section class="filter-menu-container"
         [ngStyle]="{'height': filterContainerHeight ? filterContainerHeight + 'px' : 'auto'}"
         (window:scroll)="checkScrollPosition()"
         (window:resize)="adjustFilterContainerOnResize()">
  <ul #filterMenu
      class="filter-menu"
      [ngClass]="{'filter-menu_sticky': filterMenuIsSticky}">
    <li class="filter-menu__item"
        (click)="selectLatest()"
        [class.activeArticleState]="currentSelectedTab === 1">
      Latest
    </li>
    <li class="filter-menu__item"
        (click)="selectAll()"
        [class.activeArticleState]="currentSelectedTab === 2">
      All
    </li>
    <li *ngIf="userId"
        class="filter-menu__item"
        (click)="selectBookmark()"
        [class.activeArticleState]="currentSelectedTab === 3">
      Bookmarked
    </li>
    <li *ngIf="query"
        class="filter-menu__item"
        (click)="selectSearch()"
        [class.activeArticleState]="currentSelectedTab === 4">
      Search Results
    </li>
  </ul>
</section>

<!-- ARTICLE COLLECTIONS -->
<section id="latest-articles"
         *ngIf="currentSelectedTab === 1">
  <div class="article-grid">
    <cos-article-preview-card [userId]="userId"
                              [articleData]="article"
                              *ngFor="let article of latestArticles | async">
    </cos-article-preview-card>
  </div>
</section>

<section id="all-articles"
         *ngIf="currentSelectedTab === 2">
  <div class="article-grid">
    <cos-article-preview-card [userId]="userId"
                              [articleData]="article"
                              *ngFor="let article of allArticles | async">
    </cos-article-preview-card>
  </div>
</section>

<section id="bookmarked-articles"
         *ngIf="currentSelectedTab === 3">
  <h3 class="collection-text">You have
    <span class="collection-text_accent">{{bookmarkedArticles.length}}</span>
    {{bookmarkedArticles.length === 1 ? 'bookmark' : 'bookmarks'}}.
  </h3>
  <div class="article-grid">
    <cos-article-preview-card [userId]="userId"
                              [articleData]="article"
                              *ngFor="let article of bookmarkedArticles | reverseArray ">
    </cos-article-preview-card>
  </div>
</section>

<section id="searched-articles"
         *ngIf="currentSelectedTab === 4">
  <h3 class="collection-text">Found
    <span class="collection-text_accent">{{searchedArticles.length}}</span> {{searchedArticles.length === 1 ? 'result'
    : 'results'}} for
    <span class="collection-text_underline">{{query}}</span>.
  </h3>
  <div class="article-grid">
    <cos-article-preview-card [userId]="userId"
                              [articleData]="article"
                              *ngFor="let article of searchedArticles">
    </cos-article-preview-card>
  </div>
</section>