// Uses Global Default Styles in src/styles.scss
@import "../../../sass-variables-mixins/vars.scss";

.profile-card {
  width: 100%;

  &__input {
    min-width: 0;
    margin-bottom: 20px;
  }

  &__input-group {
    display: grid;
    grid-template-columns: 1fr;

    @media screen and (min-width: 500px) {
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }
  }
}

.profile-image {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 24px;

  &__src {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}