<form class="profile-card">
  <div class="profile-card__input-group">
    <section class="profile-image">
      <img
        class="profile-image__src"
        [src]="user.imageUrl ? user.imageUrl : '../../assets/images/logo.svg'"
        alt="Profile Image"
      />
    </section>

    <div>
      <div class="profile-card__input">
        <h6>First Name</h6>
        <p>{{ user.fName }}</p>
      </div>

      <div class="profile-card__input">
        <h6>Last Name</h6>
        <p>{{ user.lName }}</p>
      </div>

      <div class="profile-card__input">
        <h6>Alias</h6>
        <p>{{ user.alias }}</p>
      </div>
    </div>
  </div>

  <div class="profile-card__input">
    <h6>Bio</h6>
    <p>{{ user.bio }}</p>
  </div>

  <div class="profile-card__input-group">
    <div class="profile-card__input">
      <h6>City</h6>
      <p>{{ user.city }}</p>
    </div>

    <div class="profile-card__input">
      <h6>State</h6>
      <p>{{ user.state }}</p>
    </div>

    <div class="profile-card__input">
      <h6>Zip Code</h6>
      <p>{{ user.zipCode }}</p>
    </div>
  </div>
</form>
