<p>
  profile-contributions works!
</p>

<p>authored</p>
<div class="article-grid">
  <cos-article-preview-card [userId]="loggedInUserId"
                            [articleData]="article"
                            *ngFor="let article of authoredArticles ">
  </cos-article-preview-card>
</div>
<br><br>
<p>edited</p>
<div class="article-grid">
  <cos-article-preview-card [userId]="loggedInUserId"
                            [articleData]="article"
                            *ngFor="let article of editedArticles ">
  </cos-article-preview-card>
</div>