// Uses Global Default Styles in src/styles.scss
@import "../../../sass-variables-mixins/vars.scss";

.comment {
  display: flex;
  align-items: flex-start;

  &__author-image {
    min-width: 100px;
    width: 100px;
    display: none;
    margin-right: 20px;
    object-fit: contain;
  }

  &-text {
    margin-top: 15px;

    &_no-margin {
      margin: 0;
    }

    &_light {
      color: $medium-gray;
    }

    &_small {
      font-size: 0.8rem;
    }
  }

  @media screen and (min-width: 500px) {

    &__author-image {
      display: block;
    }
  }
}
