<!-- <pre>{{ comment | json }}</pre> -->

<div style="border: 1px solid black; margin-left: 30px;">
  <!-- should get author info and display it. Should duplicate relevant user info from Firestore in Firebase -->
  <!-- should also eventually be able to navigate to author profile and/or follow author, should go in github issues as feature request -->
  <!-- and I'm not sure why we're needing to call .val() on payload here. If you uncomment the above json display, it looks like it's just an object. -->
  <p>AuthorId: {{ comment?.payload.val().authorId || loggedInUser.uid }}</p>
  <p *ngIf="!isBeingEdited">Text: {{ comment?.payload.val().text }}</p>
  <p *ngIf="isBeingEdited">
    text: <input type="text"
      [value]="comment?.payload.val().text"
      (input)="emitText($event)">
  </p>

  <p>Last Updated: {{ comment?.payload.val().lastUpdated | date }}</p>
</div>
