// Uses Global Default Styles in src/styles.scss
@import "../../../sass-variables-mixins/vars.scss";

.comment {
  display: flex;
  align-items: flex-start;

  &__author-image {
    min-width: 100px;
    width: 100px;
    display: none;
    margin-right: 20px;
    object-fit: contain;
  }

  &-text-container {
    width: 100%;
  }

  &-text {
    margin-top: 15px;

    &_no-margin {
      margin: 0;
    }

    &_light {
      color: $medium-gray;
    }

    &_small {
      font-size: 0.8rem;
    }

    &_input {
      margin: 0;
      padding: 0;
    }
  }

  @media screen and (min-width: 500px) {

    &__author-image {
      display: block;
    }
  }
}

mat-form-field::ng-deep {
  display: block;
  margin-bottom: -14px;

  .mat-form-field-wrapper {
    padding: 0;
  }

  .mat-form-field-infix {
    padding: 0 3px 14px 0;
    border: none;
  }
}
