<section class="profile">

  <h2 class="profile__title">Profile</h2>

  <!-- Editable Profile Form -->
  <!-- ngIf div wrapper needed to ensure buttons aren't rendered before the profileForm is loaded -->
  <div *ngIf="profileId"
       class="form-wrapper">
    <cos-profile-form #formComponent
                      [formUser]="userMap[profileId]"
                      [imageUploadPercent$]="imageUploadPercent$"
                      (profileImageSelected)="onSelectProfileImage($event)"></cos-profile-form>

    <button *ngIf="loggedInUserId"
            class="cos-btn"
            type="button"
            [disabled]="!formComponent.valid || formComponent.pristine"
            (click)="onSaveProfileChanges()">
      Update
    </button>
  </div>
</section>