// Uses Global Default Styles in src/styles.scss
@import "../../../sass-variables-mixins/vars.scss";

.profile {
  max-width: 768px;
  margin: auto;
  padding: 24px 24px 48px;

  &__title {
    color: $primary-color;
    text-align: center;
  }
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  box-shadow: 0 2px 5px $light-gray-50;

  &__input {
    width: 100%;
    min-width: 0;
    margin-bottom: 20px;

    input:read-only {
      color: $medium-gray;
    }
  }

  &__input-group {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;

    @media screen and (min-width: 500px) {
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }
  }
}

.profile-image {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 24px;

  &__src {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__input {
    width: 100%;
    min-width: 0;
    max-width: 250px;
    visibility: hidden;
    position: absolute;
    bottom: 20px;
    padding: 6px;
    border: 1px solid $light-gray-50;
    border-radius: 4px;
    background-color: #f8f8f8;
    cursor: pointer;
  }

  &:hover &__input {
    visibility: visible;
  }

}

.read-only-label {
  margin-bottom: 0;
}

.read-only-text {
  margin-top: 0;
}

.article-preview {
  background-color: #e3e3e3;
  margin: 15px 0;
  padding: 5px;

  h5 {
    margin: 0;
  }

  .article-preview-image, .article-preview-body {
    display: inline-block;
  }

  .article-preview-image {
    max-width: 100px;
  }

  .article-preview-body {
    max-width: 595px;
    margin-left: 15px;
    vertical-align: top;

    p {
      margin-bottom: 0;
    }
  }
}