<section>

  <h2 class="profile__title">Profile</h2>

  <!-- View only Profile -->
  <div *ngIf="userMap && userMap[profileId] && !editMode">
    <div class="form-wrapper profile">
      <div class="top-btn-wrapper">
        <button *ngIf="loggedInUserId === profileId"
                class="cos-btn"
                type="button"
                (click)="edit()">
          Edit
        </button>
      </div>
      <cos-profile-view [user]="userMap[profileId]"></cos-profile-view>

      <!-- Profile Contributions -->
    </div>
    <div class="contributions-wrapper">
      <cos-profile-contributions [loggedInUserId]="loggedInUserId"
                                 [profileId]="profileId"
                                 [minDisplayNum]="minArticleDisplayNum"></cos-profile-contributions>
    </div>
  </div>

  <!-- Editable Profile Form -->
  <div *ngIf="profileId && editMode"
       class="form-wrapper profile">
    <div class="top-btn-wrapper">
      <button *ngIf="loggedInUserId"
              class="cos-btn"
              type="button"
              [disabled]="!formComponent.valid || formComponent.pristine"
              (click)="onSaveProfileChanges()">
        Update
      </button>
    </div>
    <cos-profile-form #formComponent
                      [formUser]="userMap[profileId]"
                      [imageUploadPercent$]="imageUploadPercent$"
                      (profileImageSelected)="onSelectProfileImage($event)"></cos-profile-form>

    <button *ngIf="loggedInUserId"
            class="cos-btn"
            type="button"
            [disabled]="!formComponent.valid || formComponent.pristine"
            (click)="onSaveProfileChanges()">
      Update
    </button>
  </div>

</section>