<section
  class="article-body__interior"
  [ngClass]="{ border: isLoggedIn && isActive }"
>
  <button
    class="mat-icon-btn"
    [ngClass]="{ active: isLoggedIn && isActive }"
    type="button"
    (click)="toggleCtrl()"
  >
    <mat-icon>{{ isLoggedIn && isActive ? 'clear' : 'edit' }}</mat-icon>
    <span class="mat-icon-btn__tooltip mat-icon-btn__tooltip_left">{{
      isLoggedIn && isActive ? 'Close Body' : 'Edit Body'
    }}</span>
  </button>
  <article [innerHTML]="body"></article>
  <!-- <ckeditor
        *ngIf="ckeditor.content"
        (change)="onCKEditorChanged($event)"
        (ready)="onCKEditorReady($event)"
        [data]="ckeditor.content"
        [editor]="ckeditor.build"
        [config]="ckeditor.config"
        [disabled]="!isLoggedIn || !isActive"
      >
      </ckeditor> -->
</section>
