// Uses Global Default Styles in src/styles.scss
@import "../../../sass-variables-mixins/vars.scss";

.wrapper {
  position: relative;
}

.contributors {
  height:60px;
  width: 615px;
  overflow: hidden;
  display: flex;
  margin:0 auto;
  justify-content:center;
  align-items:center;
}

.contributors__set {
  min-width: 615px;
  display: inline-flex;
}

.contributors__elem {  
  display: inline-grid;
  grid-template-columns: 50px 150px;
  grid-gap: 5px;
}

.transition-btn {
  opacity: 0.3;
  outline: none;
  background-color: transparent !important;
  transition: 2s;
}

.left-btn {
  position: absolute;
  left: 0;
  bottom: 0;
}

.right-btn {
  position: absolute;
  right: 0;
  bottom: 0;
}

.transition-btn.hidden {
  opacity: 0;
}

.transition-btn.hidden:hover {
  opacity: 0;
}

.transition-btn:hover {
  opacity: 1;
}

.transition-img {
  height: 60px;
  margin: -12px;
  position: relative;
  bottom: 7px;
}

.transition-left {
  position: relative;
  -webkit-animation: moveLeft 2s infinite; /* Safari 4.0 - 8.0 */
  animation: moveLeft 2s infinite ease;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes moveLeft {
  from {right: 0px;}
  to {right: 615px;}
}

/* Standard syntax */
@keyframes moveLeft {
  from {right: 0px;}
  to {right: 615px;}
}

.transition-right {
  position: relative;
  -webkit-animation: moveRight 2s infinite; /* Safari 4.0 - 8.0 */
  animation: moveRight 2s infinite ease;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes moveRight {
  from {left: 0px;}
  to {left: 615px;} // why do I neeed this. where is that 'snap' coming from?
}

/* Standard syntax */
@keyframes moveRight {
  from {left: 0px;}
  to {left: 615px;} // why do I neeed this. where is that 'snap' coming from?
}
