<div class="postArticleContainer">
    <div class="upload-wrapper">
      <label>Main Image</label>
      <div class="uploadForm">
        <input accept="image/*" id="control" type="file" (change)="detectFiles($event)">
      </div>
    </div>
    <cos-article-form #form>
    </cos-article-form>
     <button (click)="save(form.value)" mat-raised-button  
              [ngClass]="{'submit': form.valid === true, 'invalid': form.valid === false }"
              [disabled]="!form.valid">
        Post</button>
  </div>

 