<section *ngIf="!isArticleNew" class="wrapper">
  <section class="header">
    <h2 class="title">Discussion</h2>
    <button
      *ngIf="!isTopLevelCommentBeingCreated()"
      class="cos-btn"
      (click)="enterNewCommentMode()"
    >
      Comment
    </button>
  </section>

  <!-- TOP-LEVEL COMMENT -->
  <section class="comment-wrapper_root">
    <section
      *ngIf="isTopLevelCommentBeingCreated()"
      class="comment-container comment-container_new-reply comment-content-region"
    >
      <div class="comment-container__border-decoration">
        <div
          class="border-endpoint border-endpoint_top border-endpoint_accent-2"
        ></div>
        <div
          class="border-endpoint border-endpoint_bottom border-endpoint_accent-2"
        ></div>
      </div>
      <cos-comment [isBeingEdited]="true" [comment]="commentState$.value">
      </cos-comment>
      <section class="comment-controls">
        <button
          class="mat-icon-btn mat-icon-btn_small"
          (click)="saveNewComment()"
        >
          <mat-icon class="mat-icon_small">check</mat-icon>
          <span class="mat-icon-btn__tooltip mat-icon-btn__tooltip_left"
            >Save</span
          >
        </button>
        <button
          class="mat-icon-btn mat-icon-btn_small"
          (click)="onCancelComment()"
        >
          <mat-icon class="mat-icon_small">clear</mat-icon>
          <span class="mat-icon-btn__tooltip mat-icon-btn__tooltip_left"
            >Cancel</span
          >
        </button>
      </section>
    </section>
  </section>
  <!-- end top-level comment -->
  <!-- EXISTING COMMENTS -->
  <cos-comment-list [isUnderComment]="false" [parentKey]="articleId">
  </cos-comment-list>
</section>
