<!-- Comment Loop for Current Parent -->
<section
  *ngFor="let comment of comments | reverseArray"
  class="comment-wrapper"
  [ngClass]="{ 'comment-wrapper_root': !isUnderComment }"
>
  <section class="comment-container">
    <div class="comment-container__border-decoration">
      <div class="border-endpoint border-endpoint_bottom"></div>
    </div>
    <section id="{{ comment.key }}" class="comment-content-region">
      <section class="comment-rating">
        <div class="comment-rating__score-container">
          <span
            class="comment-rating__score"
            [ngClass]="{
              'comment-rating__score_negative': comment.voteCount < 0
            }"
          >
            {{ comment.voteCount }}
          </span>
        </div>
        <button
          class="mat-icon-btn mat-icon-btn_small comment-rating__btn comment-rating__btn_hidden"
          [ngClass]="{
            'comment-rating__btn_voted': wasVoteCast(comment.key, 'up')
          }"
          (click)="onUpvoteComment(comment.key)"
        >
          <mat-icon>expand_less</mat-icon>
          <span class="mat-icon-btn__tooltip mat-icon-btn__tooltip_right">{{
            wasVoteCast(comment.key, 'up') ? 'Remove Vote' : 'Upvote'
          }}</span>
        </button>
        <button
          class="mat-icon-btn mat-icon-btn_small comment-rating__btn comment-rating__btn_hidden"
          [ngClass]="{
            'comment-rating__btn_voted': wasVoteCast(comment.key, 'down')
          }"
          (click)="onDownvoteComment(comment.key)"
        >
          <mat-icon>expand_more</mat-icon>
          <span class="mat-icon-btn__tooltip mat-icon-btn__tooltip_right">{{
            wasVoteCast(comment.key, 'down') ? 'Remove Vote' : 'Downvote'
          }}</span>
        </button>
      </section>

      <!-- DISPLAY COMMENT -->
      <cos-comment
        [comment]="
          isCommentBeingEdited(comment.key) ? commentState$.value : comment
        "
        [isBeingEdited]="isCommentBeingEdited(comment.key)"
      >
      </cos-comment>
      <!-- end display comment -->

      <!-- COMMENT CONTROLS -->
      <p *ngIf="comment.replyCount > 0" class="comment-reply-count">
        <a (click)="onToggleUnfurl(comment.key)">
          {{ unfurlMap[comment.key] ? 'Hide' : 'Show' }}
          {{ comment.replyCount }}
          {{ comment.replyCount === 1 ? 'Reply' : 'Replies' }}
        </a>
      </p>

      <section class="comment-controls">
        <button
          *ngIf="
            isLoggedIn() &&
            !isCommentBeingEdited(comment.key) &&
            !isChildBeingEdited(comment.key)
          "
          class="mat-icon-btn mat-icon-btn_small"
          (click)="enterNewCommentMode(comment.key)"
        >
          <mat-icon class="mat-icon_small">reply</mat-icon>
          <span class="mat-icon-btn__tooltip mat-icon-btn__tooltip_left"
            >Reply</span
          >
        </button>
        <div
          *ngIf="loggedInUser$.value.uid === comment.authorId"
          class="comment-controls__btn-group"
        >
          <button
            *ngIf="
              isLoggedIn() &&
              !isCommentBeingEdited(comment.key) &&
              !isChildBeingEdited(comment.key)
            "
            class="mat-icon-btn mat-icon-btn_small"
            (click)="enterEditMode(comment)"
          >
            <mat-icon class="mat-icon_small">edit</mat-icon>
            <span class="mat-icon-btn__tooltip mat-icon-btn__tooltip_left"
              >Edit</span
            >
          </button>
          <button
            *ngIf="
              isLoggedIn() &&
              !isCommentBeingEdited(comment.key) &&
              !isChildBeingEdited(comment.key)
            "
            class="mat-icon-btn mat-icon-btn_small"
            (click)="onRemoveComment(comment.key)"
          >
            <mat-icon class="mat-icon_small">clear</mat-icon>
            <span class="mat-icon-btn__tooltip mat-icon-btn__tooltip_left"
              >Remove</span
            >
          </button>
          <button
            *ngIf="isCommentBeingEdited(comment.key)"
            class="mat-icon-btn mat-icon-btn_small"
            (click)="onSaveEdits()"
          >
            <mat-icon class="mat-icon_small">check</mat-icon>
            <span class="mat-icon-btn__tooltip mat-icon-btn__tooltip_left"
              >Save</span
            >
          </button>
          <button
            *ngIf="isCommentBeingEdited(comment.key)"
            class="mat-icon-btn mat-icon-btn_small"
            (click)="onCancelComment()"
          >
            <mat-icon class="mat-icon_small">clear</mat-icon>
            <span class="mat-icon-btn__tooltip mat-icon-btn__tooltip_left"
              >Cancel</span
            >
          </button>
        </div>
      </section>
      <!-- end comment controls -->

      <!-- NEW REPLY STUB -->
      <section
        *ngIf="
          isLoggedIn() && isCommentNew() && isChildBeingEdited(comment.key)
        "
        class="comment-container comment-container_new-reply comment-content-region"
      >
        <div class="comment-container__border-decoration">
          <div
            class="border-endpoint border-endpoint_top border-endpoint_accent-2"
          ></div>
          <div
            class="border-endpoint border-endpoint_bottom border-endpoint_accent-2"
          ></div>
        </div>
        <cos-comment [isBeingEdited]="true" [comment]="commentState$.value">
        </cos-comment>
        <section class="comment-controls">
          <button
            class="mat-icon-btn mat-icon-btn_small"
            (click)="onAddComment()"
          >
            <mat-icon class="mat-icon_small">check</mat-icon>
            <span class="mat-icon-btn__tooltip mat-icon-btn__tooltip_left"
              >Save</span
            >
          </button>
          <button
            class="mat-icon-btn mat-icon-btn_small"
            (click)="onCancelComment()"
          >
            <mat-icon class="mat-icon_small">clear</mat-icon>
            <span class="mat-icon-btn__tooltip mat-icon-btn__tooltip_left"
              >Cancel</span
            >
          </button>
        </section>
      </section>
      <!-- end new reply stub -->
    </section>

    <!-- List of Nested Comments -->
    <cos-comment-list *ngIf="unfurlMap[comment.key]" [parentKey]="comment.key">
    </cos-comment-list>
  </section>
</section>
