<pre>
  <!-- {{ articleHistory[articleVersion] | json }} -->
</pre>
<mat-table #table [dataSource]="articleHistoryKeys" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="version">
    <th mat-header-cell *matHeaderCellDef>version</th>
    <td mat-cell *matCellDef="let key">{{ articleHistory[key].version }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>title</th>
    <td mat-cell *matCellDef="let key">{{ articleHistory[key].title }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="lastUpdated">
    <th mat-header-cell *matHeaderCellDef>lastUpdated</th>
    <td mat-cell *matCellDef="let key">{{ articleHistory[key].lastUpdated.seconds * 1000 | date }}</td>
  </ng-container>

  <ng-container matColumnDef="lastEditorId">
    <th mat-header-cell *matHeaderCellDef>lastEditorId</th>
    <td mat-cell *matCellDef="let key">{{ userSvc.userMap[articleHistory[key].lastEditorId]?.displayName() }}   {{ articleHistory[key].lastEditorId }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</mat-table>

<div *ngFor="let key of articleHistoryKeys">
  <a [routerLink]="['/article', articleHistory[key].articleId, key]">
    {{ key }}
  </a>
</div>
