// Uses Global Default Styles in src/styles.scss
@import "../../../sass-variables-mixins/vars.scss";

.content-wrapper {
  width: 300px;
  height: 600px;
  overflow: auto;
  position: fixed;
  top: 100px;
  
  .history-table {
    width: 100%;

  }
}

.mat-header-row {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: inherit;
}



.highlighted {
  background-color: $light-grey;
}

.article-frame {
  width: 100%;
  max-width: 768px;
  position: relative;
  margin: 24px auto;
  padding: 20px 20px 40px;
  box-shadow: 0 2px 5px rgba(189, 189, 189, 0.5);
  overflow: hidden;

  .article-cover-image {
    &__display {
      position: relative;
      margin-bottom: 5px;
    }

    &__image {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }
  }

  .article-header {
    margin-bottom: 24px;
    padding: 0 20px 20px;
    box-shadow: 0 2px 4px $light-gray-50;
  }

  .article-title, .article-intro {
    position: relative;
  }

  .article-title {

    h2 {
      margin: 0;
      padding-right: 5px;
      color: $primary-color;
      line-height: 1.5;
    }

    h2.static-display {
      padding: 5px 0;
    }

    .version {
      font-size: 20px;
      font-weight: 100;
    }
  }

  .article-intro {
    p {
      margin: 0;
      padding-top: 5px;
      padding-right: 3px;
    }

    p.static-display {
      min-height: 80px;
    }
  }

  .article-date {
    margin: 0 0 5px;
    color: $medium-gray;
    font-size: 0.8rem;
  }

  .article-utils {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 15px;
    border-radius: 4px;
    background-color: lighten($accent-color-1-dark, 30%);

    @media screen and (min-width: 500px) {
      padding: 0 20px;
    }
  }

  .counters {
    display: flex;
    align-items: center;

    &__item {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      color: #fff;
      cursor: default;

      &:not(:first-child) {
        margin-left: 15px;
      }

      &:hover .mat-icon-btn__tooltip {
        visibility: visible;
      }

      &-stat {
        display: block;
        margin-left: 5px;
        font-size: 0.9rem;
      }

      &_clickable {
        cursor: pointer;
      }

      @media screen and (min-width: 500px) {

        &:not(:first-child) {
          margin-left: 20px;
        }

        &-stat {
          margin-left: 15px;
          font-size: 1rem;
        }
      }
    }

    &__icon {
      height: auto;
      width: auto;
      font-size: 1.2rem;

      @media screen and (min-width: 500px) {
        font-size: 1.5rem;
      }
    }
  }

  .article-body {
    margin-bottom: 24px;

    &__interior { // none of this works. presumabely because it's being loaded after the css is applied.
      position: relative;
      border-radius: 4px;
      border: 1px solid #fff;
      transition: border 0.5s;

      &.border {
        border: 1px solid $accent-color-1;
      }

      .image {
        img {
          max-width: 100%;
        }
      }
    }
  }

  .article-tags {
    position: relative;
    margin-bottom: 24px;
    padding: 0 10px;

    h3 {
      margin: 0 0 10px;
      color: $medium-gray;
    }

    ::ng-deep .mat-chip-list-wrapper {
      padding: 5px 0;
    }

    mat-chip {
      margin: 6px;
      box-shadow: 0 0 5px $light-gray;
      background-color: #fff;
    }
  }
}
