<form class="login-form"
      autocomplete="off"
      [formGroup]="form">
  <h2 class="login-form__title">Sign In</h2>
  <section class="login-card">
    <mat-form-field class="login-card__input">
      <input matInput
             placeholder="Email: "
             [class.input-error]="isErrorVisible('email','required') || isErrorVisible('email','validEmail')"
             name="email"
             formControlName="email"
             type="email" />
      <mat-error *ngIf="isErrorVisible('email','required')">We'll need your e-mail address, please.</mat-error>
      <mat-error *ngIf="isErrorVisible('email','validEmail')">Please enter a valid e-mail address.</mat-error>
    </mat-form-field>
    <mat-form-field class="login-card__input">
      <input matInput
             placeholder="Password:"
             [class.input-error]="isErrorVisible('password','required')"
             name="password"
             formControlName="password"
             type="password" />
      <mat-error *ngIf="isErrorVisible('password','required')">A password is required.</mat-error>
    </mat-form-field>
    <button class="cos-btn"
            (click)="onLogIn()"
            [disabled]="!formValid()">
      Sign In
    </button>
  </section>
</form>
