<form [formGroup]="loginForm"
      class="login-form">

  <h2 class="login-form__title">Login</h2>

  <section *ngIf="!currentLogin"
           class="login-card">
    <mat-form-field class="login-card__input">
      <mat-label>Email</mat-label>
      <input matInput
             type="email"
             formControlName="email"
             required/>
      <mat-error>Please enter your email address.</mat-error>
    </mat-form-field>

    <mat-form-field class="login-card__input">
      <mat-label>Password</mat-label>
      <input matInput
             type="password"
             formControlName="password"
             required/>
      <mat-error>Please enter your password.</mat-error>
    </mat-form-field>

    <button class="cos-btn login-form__submit-btn"
            type="submit"
            [disabled]="!loginForm.valid"
            (click)="onLogIn()">
      Submit
    </button>

    <mat-hint class="error">{{loginError ? loginError : ''}}</mat-hint>
  </section>

  <section *ngIf="currentLogin"
           class="logout-message">
    <p class="logout-message__text">Current Login:<br/><strong>{{currentLogin}}</strong></p>
    <p class="logout-message__text">Please logout first, before creating a new account.</p>
    <button class="cos-btn"
            (click)="onLogOut()">
      Logout
    </button>
  </section>
</form>
