// Uses Global Default Styles in src/styles.scss
@import "../../../sass-variables-mixins/vars.scss";

main {
  padding: 24px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: $accent-color-1;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    box-shadow: 0 2px 2px $medium-gray;
  }

  &:active {
    box-shadow: none;
  }

  &:disabled {
    opacity: 0.5;
    box-shadow: none;
    cursor: default;
  }
}
