<form [formGroup]="articleEditForm"
      class="article-form">

  <section class="article-cover-image"
           (cosClickOut)="editCoverImage = false">
    <section class="article-cover-image__display">
      <img *ngIf="!coverImageUrl$.value"
           class="article-cover-image__image"
           src="../../assets/images/logo.svg"
           alt="Cover Image">
      <img *ngIf="coverImageUrl$.value"
           class="article-cover-image__image"
           [src]="coverImageUrl$ | async"
           [alt]="articleEditForm.value.imageAlt">
      <button class="mat-icon-btn"
              [ngClass]="{'active': editCoverImage}"
              type="button"
              (click)="toggleEditControl(CtrlNames.coverImage)">
        <mat-icon>{{editCoverImage ? 'clear' : 'edit'}}</mat-icon>
        <span class="mat-icon-btn__tooltip mat-icon-btn__tooltip_left">{{editCoverImage ? 'Close Image' : 'Edit
          Image'}}</span>
      </button>
    </section>
    <section *ngIf="editCoverImage"
             class="article-cover-image__editor">
      <p *ngIf="coverImageUploadTask && coverImageUploadPercent$">
        Progress: {{coverImageUploadPercent$ | async}}% Complete
      </p>
      <mat-form-field>
        <label>Image Alt Description</label>
        <input #imageAlt
               matInput
               type="text"
               formControlName="imageAlt"
               maxlength="100">
        <mat-hint align="end">{{imageAlt.value.length}} / 100</mat-hint>
      </mat-form-field>
      <div class="file-input flex-center-align">
        <input accept="image/*"
               type="file"
               (change)="onSelectCoverImage($event)">
      </div>
    </section>
  </section>

  <section class="article-header">
    <section class="article-title"
             (cosClickOut)="editTitle = false">
      <h2 *ngIf="!editTitle"
          class="static-display">
        {{articleEditForm.value.title}}
        <span *ngIf="articleEditForm.value.title === ''">Add an Article Title</span>
      </h2>
      <mat-form-field *ngIf="editTitle">
        <h2><input #title
                 matInput
                 type="text"
                 formControlName="title"
                 maxlength="100"
                 required>
        </h2>
        <mat-hint align="end">{{title.value.length}} / 100 </mat-hint>
        <mat-error>Please give your article a title.</mat-error>
      </mat-form-field>
      <button class="mat-icon-btn"
              [ngClass]="{'active': editTitle}"
              type="button"
              (click)="toggleEditControl(CtrlNames.title)">
        <mat-icon>{{editTitle ? 'clear' : 'edit'}}</mat-icon>
        <span class="mat-icon-btn__tooltip mat-icon-btn__tooltip_left">{{editTitle ? 'Close Title' : 'Edit Title'}}</span>
      </button>
    </section>

    <p *ngIf="!formIsInCreateView"
       class="article-date">
      Last Updated: {{articleEditForm.value.lastUpdated?.toDate() | date }}
    </p>

    <section class="article-intro"
             (cosClickOut)="editIntro = false">
      <p *ngIf="!editIntro"
         class="static-display">
        {{articleEditForm.value.introduction}}
        <span *ngIf="articleEditForm.value.introduction === ''">Add an introduction to tell people what your article is
          about.</span>
      </p>
      <mat-form-field *ngIf="editIntro">
        <p><textarea #introduction
                    matInput
                    type="text"
                    formControlName="introduction"
                    rows="3"
                    maxlength="300"
                    required></textarea>
        </p>
        <mat-hint align="end">{{introduction.value.length}} / 300</mat-hint>
        <mat-error>Please tell us a little something about what this article is about.</mat-error>
      </mat-form-field>
      <button class="mat-icon-btn"
              [ngClass]="{'active': editIntro}"
              type="button"
              (click)="toggleEditControl(CtrlNames.intro)">
        <mat-icon>{{editIntro ? 'clear' : 'edit'}}</mat-icon>
        <span class="mat-icon-btn__tooltip mat-icon-btn__tooltip_left">{{editIntro ? 'Close Intro' : 'Edit Intro'}}</span>
      </button>
    </section>

    <section class="article-utils">
      <div class="counters">
        <div class="counters__item">
          <mat-icon class="counters__icon">comment</mat-icon>
          <span class="mat-icon-btn__tooltip mat-icon-btn__tooltip_above"
                style="left: 0;">
            {{articleEditForm.value.commentCount}} Comment(s)
          </span>
          <span class="counters__item-stat">{{articleEditForm.value.commentCount}}</span>
        </div>
        <div class="counters__item">
          <mat-icon class="counters__icon">border_color</mat-icon>
          <span class="mat-icon-btn__tooltip mat-icon-btn__tooltip_above">{{articleEditForm.value.version}} Edit(s)</span>
          <span class="counters__item-stat">{{articleEditForm.value.version}}</span>
        </div>
        <div class="counters__item">
          <mat-icon class="counters__icon">loyalty</mat-icon>
          <span class="mat-icon-btn__tooltip mat-icon-btn__tooltip_above">{{articleEditForm.value.tags.length}} Tag(s)</span>
          <span class="counters__item-stat">{{articleEditForm.value.tags.length}}</span>
        </div>
      </div>
      <div *ngIf="!articleIsNew"
           class="counters__item counters__item_clickable"
           (click)="authCheck() ? bookmarkToggle() : null">
        <mat-icon class="counters__icon">{{articleIsBookmarked && loggedInUser.uid ? 'bookmark' : 'bookmark_border'}}</mat-icon>
        <span class="mat-icon-btn__tooltip mat-icon-btn__tooltip_above"
              style="right: 0;">
          {{articleIsBookmarked && loggedInUser.uid ? 'Remove Bookmark' : 'Bookmark'}}
        </span>
      </div>
    </section>
  </section>

  <section #ckeditorBoundingBox
           class="article-body"
           [ngClass]="{'not-editable': !loggedInUser.uid || !editBody}"
           (window:scroll)="setCkeditorButtonOffset()">
    <div class="article-body__interior"
         [ngClass]="{'border': loggedInUser.uid && editBody}">
      <button class="mat-icon-btn"
              [ngClass]="{'active': loggedInUser.uid && editBody}"
              [ngStyle]="{'transform': 'translateY(' + ckeditor.toggleBtnOffset + 'px)'}"
              type="button"
              (click)="toggleEditControl(CtrlNames.body)">
        <mat-icon>{{loggedInUser.uid && editBody ? 'clear' : 'edit'}}</mat-icon>
        <span class="mat-icon-btn__tooltip mat-icon-btn__tooltip_left">{{loggedInUser.uid && editBody ? 'Close Body' :
          'Edit Body'}}</span>
      </button>
      <ckeditor *ngIf="ckeditor.content"
                (change)="onCKEditorChanged($event)"
                [data]="ckeditor.content"
                [editor]="ckeditor.build"
                [config]="ckeditor.config"
                [disabled]="!loggedInUser.uid || !editBody">
      </ckeditor>
    </div>
  </section>

  <section class="article-tags"
           (cosClickOut)="editTags = false">
    <h3>Tags</h3>
    <p *ngIf="articleEditForm.value.tags.length === 0 && !editTags">This article has no tags.</p>
    <mat-chip-list *ngIf="!editTags">
      <mat-chip *ngFor="let articleTag of articleEditForm.value.tags">{{articleTag}}</mat-chip>
    </mat-chip-list>

    <mat-form-field *ngIf="editTags">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let articleTag of articleEditForm.value.tags"
                  (removed)="removeTag(articleTag)">
          {{articleTag}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input #tagInput
               [ngClass]="{'error': isInvalidTagInput(tagInput.value)}"
               maxlength="25"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="matChipInputSeparatorKeyCodes"
               [matChipInputAddOnBlur]="true"
               (matChipInputTokenEnd)="isInvalidTagInput(tagInput.value) ? null : addTag($event)">
      </mat-chip-list>
      <mat-hint [ngClass]="{'error': isInvalidTagInput(tagInput.value)}">
        Add new tags using alphanumeric characters and spaces only.<br>Press ENTER to add tag.
      </mat-hint>
      <mat-hint align="end">{{tagInput.value.length}} / 25</mat-hint>
    </mat-form-field>
    <button class="mat-icon-btn"
            [ngClass]="{'active': editTags}"
            type="button"
            (click)="toggleEditControl(CtrlNames.tags)">
      <mat-icon>{{editTags ? 'clear' : 'edit'}}</mat-icon>
      <span class="mat-icon-btn__tooltip mat-icon-btn__tooltip_left">{{editTags ? 'Close Tags' : 'Edit Tags'}}</span>
    </button>
  </section>

  <section *ngIf="articleHasUnsavedChanges() || articleIsNew"
           class="flex-center-justify">
    <button class="cos-btn article-save-btn"
            type="button"
            [disabled]="!articleEditForm.valid"
            (click)="authCheck() ? saveChanges() : null">
      Save Article
    </button>
  </section>
</form>

<!-- Top-Level Comment -->
<section *ngIf="!articleIsNew"
         class="article-comments">
  <section class="article-comments__header">
    <h2 class="article-comments__title">Discussion</h2>
    <button *ngIf="commentReplyInfo.replyParentKey !== articleId || !loggedInUser.uid"
            class="cos-btn"
            (click)="authCheck() ? enterNewCommentMode() : null">
      Comment
    </button>
  </section>

  <section class="comment-wrapper_root">
    <section *ngIf="commentReplyInfo.replyParentKey === articleId && loggedInUser.uid"
             class="comment-container comment-container_new-reply comment-content-region">
      <div class="comment-container__border-decoration">
        <div class="border-endpoint border-endpoint_top border-endpoint_accent-2"></div>
        <div class="border-endpoint border-endpoint_bottom border-endpoint_accent-2"></div>
      </div>
      <cos-comment [isBeingEdited]="true"
                   [loggedInUser]="loggedInUser"
                   [authorInfo]="loggedInUser"
                   [comment]="newCommentStub">
      </cos-comment>
      <section class="comment-controls">
        <button class="mat-icon-btn mat-icon-btn_small"
                (click)="onAddComment()">
          <mat-icon class="mat-icon_small">check</mat-icon>
          <span class="mat-icon-btn__tooltip mat-icon-btn__tooltip_left">Save</span>
        </button>
        <button class="mat-icon-btn mat-icon-btn_small"
                (click)="onCancelNewComment()">
          <mat-icon class="mat-icon_small">clear</mat-icon>
          <span class="mat-icon-btn__tooltip mat-icon-btn__tooltip_left">Cancel</span>
        </button>
      </section>
    </section>
  </section>

  <!-- Existing Comments -->
  <cos-comment-list [isUnderComment]="false"
                    [commentReplyInfo]="commentReplyInfo"
                    [commentEditInfo]="commentEditInfo"
                    [loggedInUser]="loggedInUser"
                    [parentKey]="articleId"
                    [userMap]="userMap"
                    [userKeys]="userKeys"
                    [userVotesMap]="userVotesMap">
  </cos-comment-list>
</section>
