<form [formGroup]="articleEditForm">
	<h2 *ngIf="isArticleNew">Create New Article</h2>
	<h2 *ngIf="!isArticleNew">Edit Article</h2>

	<section id="cover-image-preview">
	  <h3>Cover Image</h3>
    <img *ngIf="articleEditForm.value.imageUrl"
         [src]="articleEditForm.value.imageUrl">
	</section>

	<section id="cover-image-upload">
	  <p *ngIf="currentCoverImageUpload">Progress: {{currentCoverImageUpload?.progress}}% Complete</p>
    <input accept="image/*"
           type="file"
           (change)="captureCoverImage($event.target.files[0])">
    <button [disabled]="!selectedCoverImageFile"
            (click)="uploadCoverImage()">
			Upload
		</button>
		<mat-form-field>
		  <label>Image Alt Description</label>
		  <input matInput #imageAlt maxlength="300" formControlName="imageAlt" type="text" >
		</mat-form-field>
	</section>

	<section id="article-content">
	  <mat-form-field>
			<label>Title</label>
			<input matInput #title maxlength="100" formControlName="title" type="text" [class.input-error]="isErrorVisible('title', 'required')">
	    <mat-hint align="end">{{title.value.length}} / 100 </mat-hint>
	    <mat-error *ngIf="isErrorVisible('title','required')">Please give your article a title.</mat-error>
	  </mat-form-field>

	  <mat-form-field>
	    <label>Introduction</label>
	    <textarea matInput #introduction maxlength="300" formControlName="introduction" type="text" [class.input-error]="isErrorVisible('introduction', 'required')"></textarea>
	    <mat-hint align="end">{{introduction.value.length}} / 300 </mat-hint>
	    <mat-error *ngIf="isErrorVisible('introduction','required')">Please tell us a little something about what this article is about.</mat-error>
	  </mat-form-field>

	  <label>Body</label>
	  <textarea formControlName="body" rows="15" formControlName="body" type="text"></textarea>
	</section>

	<section id="article-tags">
		<h3>Tags</h3>
		<p class="text italic">Use alphanumeric characters and spaces only, then press ENTER to add tag.</p>
	  <mat-form-field>
	    <mat-chip-list #chipList>
	      <mat-chip *ngFor="let articleTag of articleEditForm.value.tags" (removed)="removeTag(articleTag)">
	        {{articleTag}}
	        <mat-icon matChipRemove>cancel</mat-icon>
	      </mat-chip>
	      <input #tagInput
							 placeholder="Enter a new tag..."
	             [matChipInputFor]="chipList"
	             [matChipInputSeparatorKeyCodes]="matChipInputSeparatorKeysCodes"
	             [matChipInputAddOnBlur]="true"
	             (matChipInputTokenEnd)="isInvalidTagInput(tagInput.value) ? null : addTag($event)">
				<mat-error *ngIf="isInvalidTagInput(tagInput.value)">Alphanumeric characters and spaces only.</mat-error>
	    </mat-chip-list>
	  </mat-form-field>
	</section>

	<button [disabled]="!articleEditForm.valid"
					(click)="saveChanges()">
		Save
	</button>
</form>
