<section *ngIf="!isUnderComment"
         class="section-title">
  <h2>Discussion</h2>
  <p *ngIf="!commentKeys">Be the first to comment!</p>
  <button *ngIf="!addingNewComment"
          class="button"
          (click)="enterNewCommentMode()">
    Comment
  </button>
</section>

<!-- New Comment -->
<section *ngIf="isUnderComment"
         class="comment-controls">
  <button *ngIf="!addingNewComment"
          mat-icon-button
          class="button-mat-icon"
          (click)="enterNewCommentMode()">
    <mat-icon>reply</mat-icon>
    <span class="button-mat-icon__tooltip button-mat-icon__tooltip_above">Reply</span>
  </button>
</section>

<section *ngIf="addingNewComment"
         class="comment comment_new">
  <cos-comment [isBeingEdited]="true"
               [loggedInUser]="loggedInUser"
               [authorInfo]="loggedInUser"
               [comment]="newCommentStub">
  </cos-comment>
  <section class="comment-controls">
    <button class="button"
            (click)="onCancelNewComment()">
      Cancel
    </button>
    <button class="button"
            (click)="onAddComment()">
      Save
    </button>
  </section>
</section>

<!-- Existing Comments -->
<section *ngFor="let key of commentKeys | reverseArray"
         class="comment-list"
         [ngClass]="{'comment-list_root': !isUnderComment}">
  <section class="comment"
           [ngClass]="{'comment_root': !isUnderComment}">
    <section class="comment-rating">
      <button mat-icon-button
              class="button-mat-icon button-mat-icon_rating">
        <mat-icon>expand_less</mat-icon>
        <span class="button-mat-icon__tooltip button-mat-icon__tooltip_above">Upvote</span>
      </button>
      <button mat-icon-button
              class="button-mat-icon button-mat-icon_rating">
        <span>0</span>
      </button>
      <button mat-icon-button
              class="button-mat-icon button-mat-icon_rating">
        <mat-icon>expand_more</mat-icon>
        <span class="button-mat-icon__tooltip button-mat-icon__tooltip_below">Downvote</span>
      </button>
    </section>
    <cos-comment [comment]="commentMap[key]"
                 [loggedInUser]="loggedInUser"
                 [authorInfo]="userMap[commentMap[key].authorId]"
                 [isBeingEdited]="commentIsBeingEdited(key)">
    </cos-comment>
    <section *ngIf="loggedInUser.uid === commentMap[key].authorId"
              class="comment-controls comment-controls_offset-right">
      <button *ngIf="!commentIsBeingEdited(key)"
              mat-icon-button
              class="button-mat-icon"
              (click)="enterEditMode(key)">
        <mat-icon>edit</mat-icon>
        <span class="button-mat-icon__tooltip button-mat-icon__tooltip_above">Edit</span>
      </button>
      <button *ngIf="!commentIsBeingEdited(key)"
              mat-icon-button
              class="button-mat-icon"
              (click)="onRemoveComment(key)">
        <mat-icon>clear</mat-icon>
        <span class="button-mat-icon__tooltip button-mat-icon__tooltip_above">Remove</span>
      </button>
      <button *ngIf="commentIsBeingEdited(key)"
              class="button"
              (click)="onCancelEdit()">
        Cancel
      </button>
      <button *ngIf="commentIsBeingEdited(key)"
              class="button"
              (click)="onSaveEdits(key)">
        Save
      </button>
    </section>
    <cos-comment-list [parentKey]="key"
                      [loggedInUser]="loggedInUser"
                      [userMap]="userMap"
                      [userKeys]="userKeys">
    </cos-comment-list>
  </section>
</section>
