// Uses Global Default Styles in src/styles.scss
@import "../../../sass-variables-mixins/vars.scss";

.comment-group {
  min-width: 250px;
  max-width: 768px;
  position: relative;
  margin: 0 auto;
  padding-left: 30px;
  border-left: 2px solid lighten($accent-color-1, 30%);

  &_new {
    margin-top: 40px;
    padding-bottom: 20px;
    border-left: 2px solid lighten($accent-color-2, 30%);
  }
}

.comment-rating {
  height: 100%;
  position: absolute;
  top: -10px;
  left: -21px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__score {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.reply-count {
  margin-left: 10px;
}

.comment-controls {
  display: flex;

  &__sub-unit {
    display: flex;
  }

  @media screen and (min-width: 500px) {
    visibility: hidden;
    position: absolute;
    top: -12px;
    right: 15px;
    flex-direction: column;
    align-items: flex-end;

    &__sub-unit {
      flex-direction: column;
    }
  }
}

.comment-unit {
  padding-right: 30px;

  @media screen and (min-width: 500px) {
    padding-right: 60px;
  }

  &:hover {

    .comment-controls {
      visibility: visible;
    }

    .button-mat-icon_rating {
      border: 2px solid lighten($accent-color-2, 30%);

      &_hidden {
        display: block;
      }
    }
  }
}

.comment-list {
  padding-top: 40px;

  &_root {
    margin-left: 30px;
  }
}

.button-mat-icon {
  margin: 5px;
  border-radius: 100%;
  color: lighten($accent-color-1-dark, 30%);

  ::ng-deep .mat-button-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_small {
    height: 32px;
    width: 32px;
  }

  &__tooltip {
    visibility: hidden;
    position: absolute;
    padding: 5px 15px;
    border-radius: 4px;
    background: $dark-gray;
    color: #fff;
    font-size: 0.9rem;
    line-height: 1.5;
    z-index: 10;

    &_above {
      bottom: 100%;
      margin-bottom: 10px;
    }

    &_below {
      top: 100%;
      margin-top: 10px;
    }

    &_left {
      right: 100%;
      margin-right: 10px;
    }

    &_right {
      left: 100%;
      margin-left: 10px;
    }
  }

  @media screen and (min-width: 500px) {
    color: #fff;
    background-color: $accent-color-1;
    box-shadow: 0 2px 2px $medium-gray;

    &:hover {
      background-color: darken($accent-color-2, 10%);
    }

    &:hover &__tooltip {
      visibility: visible;
    }
  }

  &_rating {
    height: 30px;
    width: 30px;
    border: 2px solid lighten($accent-color-1, 30%);
    background-color: #fff;
    color: $accent-color-1-dark;
    box-shadow: none;

    &_score {
      width: auto;
      min-width: 30px;
      border-radius: 5px;
      padding: 0 5px;
    }

    &:hover {
      background-color: lighten($accent-color-2, 30%);
    }

    @media screen and (min-width: 500px) {

      &_hidden {
        display: none;
      }
    }
  }
}
