<!-- A way to add new comments (open to changes) -->
<div style="margin: 30px;">
  <cos-comment *ngIf="addingNewComment"
    [isBeingEdited]="true"
    [loggedInUser]="loggedInUser"
    [authorInfo]="loggedInUser"
    [comment]="newCommentStub"></cos-comment>
  <!-- should display on hover and contain only icons -->
  <div style="margin-left: 30px;">
    <button (click)="enterNewCommentMode()"
      *ngIf="!addingNewComment">{{ isUnderComment ? 'Reply' : 'Comment' }}</button>
    <button (click)="onCancelNewComment()"
      *ngIf="addingNewComment">cancel</button>
    <button (click)="onAddComment()"
      *ngIf="addingNewComment"
      style="margin-left: 30px;">save</button>
  </div>
</div>
<pre>
    {{ commentMap | json }}
  </pre>
<!-- List of existing comments -->
<div *ngFor="let key of commentKeys | reverseArray"
  style="margin: 30px;">
  <!-- {{ comment | async | json }} -->
  <cos-comment [comment]="commentMap[key]"
    [loggedInUser]="loggedInUser"
    [isBeingEdited]="commentIsBeingEdited(key)"></cos-comment>
  <div style="margin-left: 30px;">
    <button (click)="enterEditMode(key)"
      *ngIf="!commentIsBeingEdited(key)">edit</button>
    <button (click)="onCancelEdit()"
      *ngIf="commentIsBeingEdited(key)">cancel</button>
    <button (click)="onRemoveComment(key)"
      *ngIf="!commentIsBeingEdited(key)"
      style="margin-left: 30px;">remove</button>
    <button (click)="onSaveEdits()"
      *ngIf="commentIsBeingEdited(key)"
      style="margin-left: 30px;">save</button>
  </div>

  <cos-comment-list [parentKey]="key"
    [loggedInUser]="loggedInUser"></cos-comment-list>
</div>
