<section class="comment">
  <section *ngIf="authorInfo" class="comment__header">
    <img
      class="comment__author-image"
      [src]="authorInfo.displayImageUrl()"
      alt="Author Image"
    />
    <div class="comment__author">
      <p class="comment__author-detail">
        Posted by
        <a [routerLink]="['/profile', authorInfo.uid]"
          ><strong>{{ authorInfo.displayName() }}</strong></a
        >
      </p>
      <p class="comment__author-detail comment__author-detail_light">
        <em>Last Updated</em> {{ comment.lastUpdated | date }}
      </p>
    </div>
  </section>
  <p *ngIf="!isBeingEdited" class="comment__text">
    {{ comment.text }}
  </p>
  <mat-form-field *ngIf="isBeingEdited">
    <p class="comment__text">
      <textarea
        #commentBody
        matInput
        class="comment__input"
        type="text"
        maxlength="500"
        [(ngModel)]="comment.text"
      >
      </textarea>
    </p>
    <mat-hint align="end">{{ commentBody.value.length }} / 500</mat-hint>
  </mat-form-field>
</section>
