<ng-template #showButton>
  <h2>{{headerTitle ? headerTitle : 'Comments'}}</h2><button mat-raised-button color="accent" (click)="toggleCommentForm()">Comment</button>
</ng-template>
<div class="add-comment" *ngIf="isFormShowing; else showButton">
  <h2>{{headerTitle ? headerTitle : 'Comments'}}</h2>
  <app-comment-form #form [placeholderText]="'Enter your comment here...'"></app-comment-form>
  <div id="comment-buttons">
    <button mat-raised-button color="accent" [disabled]="!form.valid" (click)="postComment(form.value)">Submit</button>
    <!-- <button mat-raised-button color="warn" (click)="cancelComment()" id="cancel-comment">Cancel</button> -->
    <mat-icon color="warn" (click)="cancelComment()" id="cancel-comment">clear</mat-icon>
  </div>
</div>