<form [formGroup]="registerForm"
      class="register-form">

  <h2 class="register-form__title">Create New Account</h2>

  <section class="register-card" *ngIf="!currentLogin">
    <mat-form-field class="register-card__input"
                    [floatLabel]="'always'">
      <input #email matInput
             type="email"
             placeholder="Email"
             formControlName="email"
             maxlength="50"
             (blur)="trimInput('email')"
             required/>
      <mat-error>Please provide your e-mail address.</mat-error>
      <mat-hint align="end">{{email.value.length}} / 50</mat-hint>
    </mat-form-field>

    <mat-form-field class="register-card__input"
                    [floatLabel]="'always'">
      <input #password matInput
             type="password"
             placeholder="Password"
             formControlName="password"
             maxlength="30"
             required/>
      <mat-error *ngIf="password.value.length === 0">A password is required.</mat-error>
      <mat-error *ngIf="password.value.length > 0">Must be at least 6 characters in length.</mat-error>
      <mat-hint align="end">{{password.value.length}} / 30</mat-hint>
    </mat-form-field>

    <mat-form-field class="register-card__input"
                    [floatLabel]="'always'">
      <input #confirmPassword matInput
             type="password"
             placeholder="Confirm Password"
             formControlName="confirmPass"
             maxlength="30"
             required/>
      <mat-hint align="end">{{confirmPassword.value.length}} / 30</mat-hint>
    </mat-form-field>

    <mat-form-field class="register-card__input"
                    [floatLabel]="'always'">
      <input #firstName matInput
             type="text"
             placeholder="First Name"
             formControlName="fName"
             maxlength="30"
             (blur)="trimInput('fName')"
             required/>
      <mat-error>Please provide your first name.</mat-error>
      <mat-hint align="end">{{firstName.value.length}} / 30</mat-hint>
    </mat-form-field>

    <mat-form-field class="register-card__input"
                    [floatLabel]="'always'">
      <input #lastName matInput
             type="text"
             placeholder="Last Name"
             formControlName="lName"
             maxlength="30"
             (blur)="trimInput('lName')"
             required/>
      <mat-error>Please provide your last name.</mat-error>
      <mat-hint align="end">{{lastName.value.length}} / 30</mat-hint>
    </mat-form-field>

    <mat-form-field class="register-card__input"
                    [floatLabel]="'always'">
      <input #alias matInput
             type="text"
             placeholder="Alias (Optional)"
             formControlName="alias"
             maxlength="30"
             (blur)="trimInput('alias')"/>
      <mat-hint>If provided, your alias will replace your publicly displayed name.</mat-hint>
      <mat-hint align="end">{{alias.value.length}} / 30</mat-hint>
    </mat-form-field>

    <button class="cos-btn"
            type="button"
            [disabled]="!registerForm.valid"
            (click)="register()">
      Create User
    </button>
  </section>

  <section *ngIf="currentLogin"
           class="logout-message">
    <p class="logout-message__text">Current Login:<br/><strong>{{currentLogin}}</strong></p>
    <p class="logout-message__text">Please logout first, before creating a new account.</p>
    <button class="cos-btn"
            (click)="onLogOut()">
      Logout
    </button>
  </section>
</form>
