// Uses Global Default Styles in src/styles.scss
@import "../../../sass-variables-mixins/vars.scss";

.register-form {
  max-width: 768px;
  margin: auto;
  padding: 24px 24px 48px;

  &__title {
    color: $primary-color;
    text-align: center;
  }
}

.register-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0 2px 5px $light-gray-50;

  &__input {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

mat-error, mat-hint {
  font-size: 0.75rem;
  line-height: 1rem;
}

.logout-message {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    margin: 0 0 20px;
    text-align: center;
  }
}
