@import "../../../sass-variables-mixins/vars.scss";
@import "../../../sass-variables-mixins/mixins.scss";

.version-card {
  box-shadow: 3px 2px $light-gray-50;
  border-radius: 10px;
  margin-left: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  width: $sidebar-width-sm;
  @include respond-to($phone-md) {
    width: $sidebar-width-ph-md;
  }
  @include respond-to($phone-lg) {
    width: $sidebar-width-ph-lg;
  }
  @include respond-to($tablet-sm) {
    width: $sidebar-width-tab-sm;
  }
}

.version-card a {
   color: inherit;
}

.version-card__detail {
  font: 10px/12px;
  margin: 0;
  color: lighten($accent-color-1-dark, 30%);
  &_light {
    color: $medium-gray;
    font-size: 10px;
  }
  @include respond-to($phone-md) {
    font: 12px/14px;
    &_light {
      font-size: 13px;
    }
  }
}

.version-card__detail--highlight {
  color: $accent-color-2-dark;
}
