// Uses Global Default Styles in src/styles.scss
@import "../../../sass-variables-mixins/vars.scss";

.filter-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    background-color: $accent-color-1-dark;
  
    &_sticky {
      width: 100%;
      position: fixed;
      left: 0;
      top: 70px;
      box-shadow: 0 2px 5px $light-gray-50;
      z-index: 20;
    }
  
    &__item {
      list-style: none;
      padding: 0 15px;
      border: 2px solid $accent-color-1;
      border-radius: 25px;
      background-color: $accent-color-1;
      color: #fff;
      font-size: 1.375rem;
      cursor: pointer;
  
      &:not(:last-child) {
        margin-bottom: 10px;
      }
  
      &.activeArticleState {
        background-color: $accent-color-1-dark;
        color: #fff;
        cursor: default;
      }
    }
  
    @media screen and (min-width: 768px) {
      flex-direction: row;
  
      &__item {
  
        &:not(:first-child) {
          margin-left: 15px;
        }
  
        &:not(:last-child) {
          margin-bottom: 0;
        }
      }
    }
  }