<section
  *ngIf="isCtrlActive"
  [formGroup]="parentForm"
  class="article-cover-image__editor"
>
  <p *ngIf="coverImageUploadTask && coverImageUploadPercent$">
    Progress: {{ coverImageUploadPercent$ | async | number: '2.1-1' }}% Complete
  </p>
  <mat-form-field>
    <label>Image Alt Description</label>
    <input
      #imageAlt
      matInput
      type="text"
      formControlName="imageAlt"
      maxlength="100"
    />
    <mat-hint align="end">{{ imageAlt.value.length }} / 100</mat-hint>
  </mat-form-field>
  <div class="file-input flex-center-align">
    <input accept="image/*" type="file" (change)="onSelectCoverImage($event)" />
  </div>
</section>
