// Uses Global Default Styles in src/styles.scss
@import '../../../../sass-variables-mixins/vars.scss';

.article-cover-image {
  &__editor {
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px $light-gray-50;

    mat-form-field {
      display: block;
      margin-bottom: 10px;
    }

    input {
      padding-top: 10px;
    }

    label {
      font-weight: bold;
      color: $accent-color-1-dark;
    }

    label,
    input {
      font-family: $primary-typeface;
    }

    .file-input {
      flex-direction: column;

      input {
        width: 100%;
        min-width: 0;
        max-width: 250px;
        padding: 6px;
        border: 1px solid $light-gray-50;
        border-radius: 4px;
        background-color: #f8f8f8;
        cursor: pointer;
      }
    }
  }
}
