// Uses Global Default Styles in src/styles.scss
@import "../../../sass-variables-mixins/vars.scss";

article {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 25px 25px 0;
}

header {
  box-shadow: 0 2px 5px $light-gray-50;

  .content {
    padding: 20px 20px 0;

    img {
      width: 100%;
    }

    p {
      font-size: 0.875rem;
    }

    .title {
      color: $primary-color;
    }

    .date {
      color: $medium-gray;
    }
  }

  .controls {
    justify-content: space-between;
    padding: 5px 20px;
    background-color: $light-gray-50;

    mat-icon {
      margin-left: 12px;
      cursor: pointer;
      color: $medium-gray;
    }

    p {
      margin-left: 10px;
      color: $medium-gray;
    }
  }
}

.article-content {
  padding: 20px 0;
}

.tag-container {
  flex-wrap: wrap;
  margin: auto;

  li {
    list-style: none;
    margin: 10px 0;
    font-size: 0.875rem;
  }

  :first-child {
    color: $dark-gray;
  }

  :not(:first-child) {
    margin-left: 15px;
    padding: 0 15px;
    box-shadow: 0 0 5px $light-gray;
    border-radius: 25px;
    background-color: #fff;
    color: $medium-gray;
    cursor: pointer;
  }
}

.article-footer {
  padding: 20px 0;

  .profile-image {
    height: 75px;
    width: 75px;
    border: 2px solid $light-gray;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
  }

  .author-info {
    margin-left: 20px;

    p {font-size: 0.875rem;}
  }

  .highlight {
    color: $primary-color;
    font-weight: bold;
  }
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: $primary-color;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: $primary-color-dark;
  }
}
