<article *ngIf="article">

  <header>
    <section class="content">
      <img [src]="article.imageUrl">
      <h2 class="title">{{article.title}}</h2>
      <p class="date">Last Updated: {{article.lastUpdated?.toDate() | date }}</p>
      <p>{{article.introduction}}</p>
    </section>
    <section class="controls flex-center-align">
      <button (click)="edit()">Edit Article</button>
      <div class="icons flex-center-align">
        <div class="flex-center-align"
             title="Comments"
             (click)="scroll(discussion)">
          <mat-icon>comment</mat-icon>
          <p>{{article.commentCount ? article.commentCount : '0'}}</p>
        </div>
        <div class="flex-center-align"
             title="Revised {{articleData?.version}} time(s)"
             (click)="navigateToHistory()"
             *ngIf="!editingPreview && hasHistory">
          <mat-icon>border_color</mat-icon>
          <p>{{article.version}}</p>
        </div>
        <div class="flex-center-align"
             (click)="bookmarkToggle()">
          <mat-icon >{{ isArticleBookmarked ? 'bookmark' : 'bookmark_border' }}</mat-icon>
        </div>
      </div>
    </section>
  </header>

  <section class="article-content" [innerHtml]="article.body | safeHtml"></section>

  <ul class="tag-container flex">
    <li>Tags:</li>
    <li *ngFor="let tag of article.tags"
        (click)="tagSearch(tag)">{{tag}}
    </li>
  </ul>

  <section class="article-footer flex-center-align">
    <div class="profile-image"
         [ngStyle]="{'backgroundImage': 'url(' + article.authorImageUrl + ')'}"
         (click)="navigateToProfile()">
    </div>
    <div class="author-info">
      <p class="date">Created {{article.timestamp?.toDate() | date}}</p>
      <p>By
        <span class="highlight"
              (click)="navigateToProfile()">
          {{author?.alias || 'unknown' }}
        </span>
      </p>
    </div>
  </section>

</article>
