<article class="preview-card">

  <a [routerLink]="'/article/' + articleData.articleId">
    <section class="card-content">
      <img class="card-content__image"
           [src]="(articleData.imageUrl) ? articleData.imageUrl : '../../assets/images/logo.png'"
           [alt]="(articleData.imageAlt) ? articleData.imageAlt : 'Cover Image'">
      <h2 class="card-content__title">{{articleData.title | truncateString: 20}}</h2>
      <p class="card-content__date">Last Updated: {{articleData?.lastUpdated?.toDate() | date}}</p>
      <p>{{articleData.introduction | truncateString: 100}}</p>
    </section>
  </a>

  <section class="card-icons">
    <div class="counter-icons">
      <div class="counter-icons__item">
        <mat-icon>comment</mat-icon>
        <span class="mat-icon-btn__tooltip mat-icon-btn__tooltip_above">{{articleData.commentCount}} Comment(s)</span>
        <span class="counter-icons__stat">{{articleData.commentCount}}</span>
      </div>
      <div class="counter-icons__item">
        <mat-icon>border_color</mat-icon>
        <span class="mat-icon-btn__tooltip mat-icon-btn__tooltip_above">{{articleData.version}} Edit(s)</span>
        <span class="counter-icons__stat">{{articleData.version}}</span>
      </div>
      <div class="counter-icons__item">
        <mat-icon>loyalty</mat-icon>
        <span class="mat-icon-btn__tooltip mat-icon-btn__tooltip_above">{{articleData.tags.length}} Tag(s)</span>
        <span class="counter-icons__stat">{{articleData.tags.length}}</span>
      </div>
    </div>
    <button class="mat-icon-btn mat-icon-btn_transparent bookmark-icon"
            (click)="bookmarkToggle()">
      <mat-icon>{{isArticleBookmarked? 'bookmark' : 'bookmark_border'}}</mat-icon>
      <span class="mat-icon-btn__tooltip mat-icon-btn__tooltip_above">{{isArticleBookmarked ? 'Remove Bookmark' : 'Bookmark'}}</span>
    </button>
  </section>

</article>
