<article class="preview-card">

  <div class="card-content">
    <a [routerLink]="'/article/' + articleData.articleId">
      <div class="bg-image"
           [ngStyle]="{'backgroundImage': 'url(' + articleData.imageUrl + ')'}">
      </div>
      <h2 class="title">{{articleData.title | truncateString: 20}}</h2>
      <p class="date">Last Updated: {{articleData?.lastUpdated?.toDate() | date}}</p>
      <p>{{articleData.introduction | truncateString: 100}}</p>
    </a>
  </div>

  <div class="card-icons flex">
    <div class="counters flex">
      <div class="flex-center-align">
        <mat-icon>comment</mat-icon>
        <p>{{articleData.commentCount ? article.commentCount : '0'}}</p>
      </div>
      <div class="flex-center-align"
           title="Revised {{articleData.version}} time(s)">
        <mat-icon>border_color</mat-icon>
        <p>{{articleData.version}}</p>
      </div>
      <div class="flex-center-align"
           *ngIf="articleData.tags">
        <mat-icon>loyalty</mat-icon>
        <p>{{articleData.tags.length}}</p>
      </div>
    </div>
    <div class="flex-center-align">
      <mat-icon class="bookmark"
                (click)="bookmarkToggle()">
        {{isArticleBookmarked? 'bookmark' : 'bookmark_border'}}
      </mat-icon>
    </div>
  </div>

</article>
